*{
    font-family: sans-serif;
}
body{
    background-color: floralwhite;
    margin: 0 auto;
    padding: 0 auto;
}
div{
    background-color: snow;
    margin: 0px 0px 0px 220px;
    border: 2px solid black;
    height: 1000px;
    width: 700px;

}
h1 {
    text-align: center;
    color: darkblue;
}
h2{
    text-align: center;
    color: purple;
}
h4{
    margin: 0px 0px 0px 200px; 
    color: purple;
}
p{
    margin: 0px 0px 0px 110px;
    width: 500px;
    text-align: center;
    color: darkred;
}
span {
    color: darkred;
}
ul{
    font-size: 22px;
    margin: 0px 0px 0px 250px;
    list-style-type: circle;
}
a{
    padding: 0px 0px 0px 250px;
    text-decoration: none;
    color: darkred;
}
a:hover{
    transition: 1s;
    color: orangered;
}